@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.article {
  @apply flex flex-col gap-3 text-lg tracking-wide mt-20 mb-20
}

.article > h1 {
  @apply text-4xl font-bold text-center tracking-tight
}

.article > h2 {
  @apply text-3xl font-bold tracking-tight
}

.article > ol {
  @apply list-decimal flex flex-col mx-10 gap-2
}

.article > ul {
  @apply list-disc flex flex-col mx-10 gap-2
}

.article > pre {
  @apply bg-slate-800 text-neutral-200 p-5 overflow-scroll
}

.article > blockquote {
  @apply pl-5 italic border-l-2 border-neutral-300 border-opacity-50
}

.article > p > img {
  @apply w-1/2 mx-auto
}